

paper-title {
  font-size: 2.5em;
  line-height: 1.3em;
  margin: 0.67em;
  margin-top: 1em;
  text-align:center;
  font-weight: bold;
  display:block;
}

paper-published {
  font-size: 1.25em;
  line-height: 1.25em;
  margin-top: 0.67em;
  text-align:center;
  font-style: italic;
  display:block;
}


paper-teaser img {
  align: middle;
  width: 100%;
  margin-bottom: 2em;
}

bibtex {
  background-color: #333;
  color: white;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  font-size: 0.75em;
  line-height: 1.1em;
  display:block;
  padding: 0.5em;
  border-radius: 5px;
}

article {
  width: 70%;
  margin: 13%;
  margin-top: 2%;
  padding-top: 4em;
}

paper-section {
  border-bottom: 2px solid #222;
  width: 100%;
  display: block;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-weight: bold;
}

.horizontal-bar {
  display: flex;
  justify-content: center;
  margin: 1em auto;
  width: 40%;
}

.horizontal-bar-item {
  text-align: center;
  padding: 0.5em;
  background-color: #f6f6f6;
  margin: 0.25em;
  border-radius: 0.25em;
  flex: 1;
  margin-bottom: 0.0em;
}

.horizontal-bar-item p {
  margin: 0;
}

.horizontal-bar-item:hover {
  background-color: #ccc;
}

.horizontal-bar-item img {
  display: block;
  margin: 0 auto;
}

backbutton {
  padding: 0.75em;
  border-radius: 0.25em;
  background-color: #f6f6f6;
}

backbutton:hover {
  background-color: #ccc;
}
