:root {
  /* Main color: set by background image */
  /* Primary: 5DC7E5 */
  /* Secondary color: article background */
  /* Text color: for articles */
  /* Old style */
  /*--secondary-bg-color: rgba(120, 190, 229, 0.9);
  --text-color: rgba(0, 0, 0, 1.0);*/
  /* Vendee style */
  --secondary-bg-color: rgba(255, 255, 255, 0.99);
  --text-color: rgba(44, 66, 63, 1.0);
  /* Dark mode */
  /*--secondary-bg-color:rgba(38,40,42,1.0);
  --text-color: rgba(255,255,255,0.99);*/
  font-family: Trebuchet MS;
  color: var(--text-color);
}

body {
  overflow-x: hidden;
  background: #5dc7f1;
  cursor: none;
}

p, ul {
  z-index: 2;
}

article {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
  box-shadow: 5px 5px 5px rgba(100, 100, 200);
  opacity: 1;
  z-index: 2;
  width: 60%;
  max-width: 800px;
  margin-left: 20%;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.video {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.bubbles_background {
  opacity: 0.7;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1;
  /* Mode png
  background: url("images/bubbles0.png");
  animation: png_animation 100s linear infinite;
  */
  /* Mode gif */
  background: url("images/bubblegif.gif");
  background-size: 45%;
  /* Prevent interpolation, see https://caniuse.com/css-crisp-edges */
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  width: 110%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

@keyframes png_animation {
   100%{
    background-position:0px -3000px;
  }
}

h1 {
  text-shadow: rgb(0, 0, 0, 0.5) 2px 1px;
}

#moving_bubble_cursor {
  position: relative;
  pointer-events: none;
}

.centered_pic {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#circle_cv {
  margin-bottom: 10px;
}